---
- name: Create Kubernetes resources
  hosts: all
  become: yes
  become_user: ubuntu
  gather_facts: false

  tasks:
    - name: Copy all Kubernetes manifests to bastion host
      ansible.builtin.copy:
        src: ../K8s/
        dest: /home/ubuntu/K8s/
        owner: ubuntu
        group: ubuntu
        mode: "0644"

    - name: Delete existing ECR secret (if exists)
      shell: kubectl delete secret ecr-secret -n student-app --ignore-not-found=true

    - name: Create ECR imagePullSecret for Kubernetes
      shell: |
        aws ecr get-login-password --region us-east-1 \
        kubectl create secret docker-registry ecr-secret \
          --namespace student-app \
          --docker-server=440764891644.dkr.ecr.us-east-1.amazonaws.com \
          --docker-username=AWS \
          --docker-password="$(aws ecr get-login-password --region us-east-1)" || true
      environment:
        AWS_ACCESS_KEY_ID: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
        AWS_SECRET_ACCESS_KEY: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
        AWS_DEFAULT_REGION: "{{ aws_region }}"
      args:
        warn: false

    - name: deploy all k8s yaml files
      shell: |
        cd /home/ubuntu/K8s/
        kubectl apply -f namespace.yaml
        kubectl apply -f deployment.yaml
        kubectl apply -f service.yaml
        kubectl apply -f ingress.yaml
    
    - name: Wait for ALB to be assigned to Ingress
      shell: |
        kubectl get ingress student-ingress -o jsonpath='{.status.loadBalancer.ingress[0].hostname}' -n student-app
      register: alb_dns
      retries: 30         # Wait up to ~5 minutes (30 * 10 sec)
      delay: 10
      until: alb_dns.stdout != ""

    - name: Show ALB DNS
      debug:
        msg: "ALB created successfully. DNS: {{ alb_dns.stdout }}"
