---
- name: Build and push Docker image to ECR
  hosts: localhost
  connection: local
  become: yes
  become_user: root
  tasks:

    - name: Login to ECR
      shell: >
        aws ecr get-login-password --region {{ aws_region }} |
        docker login --username AWS --password-stdin {{ account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com
      environment:
        AWS_ACCESS_KEY_ID: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
        AWS_SECRET_ACCESS_KEY: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
        AWS_DEFAULT_REGION: "{{ aws_region }}"

    - name: Build Docker image
      command: sudo docker build -t student-mgmt:latest ../App

    - name: Tag image
      command: sudo docker tag student-mgmt:latest {{ account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/{{ ecr_repo }}:latest

    - name: Push image
      command: sudo docker push {{ account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/{{ ecr_repo }}:latest
