---
- name: Create Kubernetes resources
  hosts: all
  become: yes
  become_user: ubuntu
  gather_facts: false

  tasks:
    - name: Copy all Kubernetes manifests to bastion host
      ansible.builtin.copy:
        src: ../K8s/
        dest: /home/ubuntu/K8s/
        owner: ubuntu
        group: ubuntu
        mode: "0644"


    - name: deploy all k8s yaml files
      shell: |
        cd /home/ubuntu/K8s/
        kubectl delete -f ingress.yaml
        kubectl delete -f service.yaml
        kubectl delete -f deployment.yaml
        kubectl delete -f namespace.yaml
        
    - name: Wait for ALB deletion to finish
      shell: |
        aws elbv2 describe-load-balancers \
        --query "LoadBalancers[?contains(LoadBalancerName, 'student-cluster')]" \
        --output text
      register: alb_status
      retries: 30
      delay: 10
      until: alb_status.stdout == ""
